<!--aqui se agregan los menus header-->

<header>
    <div class="container">
        <a routerLink="/" class="logo">Distribuidora</a>
        <nav>
            <ul>
                <li><a href="#" routerLink="/home">Home</a></li>
                <li><a href="#" routerLink="/catalogo">Catalogo</a></li>
                <li><a href="#" routerLink="/registrar">Registrarse</a></li>
                <li><a href="#" routerLink="/login">Login</a></li>
            </ul>
        </nav>
    </div>
</header>


<router-outlet></router-outlet>