<div id="scroll"></div>
<div class="section white">
    <div class="row container">
        <h1 class="header">Inicio</h1>
        <p class="grey-text text-darken-3 lighten-3">Práctica de la matería de Plataformas web, sobre los temas de:</p>
        <p class="grey-text text-darken-3 lighten-3">Desarrollo de una aplicación JEE basado en EJB, JSF y JPA para el intercambio de datos en una aplicación empresarial.</p>
        <p class="grey-text text-darken-3 lighten-3">Desarrollo de una aplicación JEE basado en EJB, JSF y JPA para el intercambiode datos en una aplicación empresarial.</p>
        <p class="grey-text text-darken-3 lighten-3">Alojar una aplicación web que permita presentar servicios web Restful en una plataforma en la nube usando como front-end JSF y Angular.</p>
        <h3 class="header">Integrantes</h3>
        <p class="grey-text text-darken-3 lighten-3">- Pablo Calle</p>
        <p class="grey-text text-darken-3 lighten-3">- Daniel Peralta</p>
        <p class="grey-text text-darken-3 lighten-3">- Alex Reinso</p>
        <p class="grey-text text-darken-3 lighten-3">- Christian Zhirzhan</p>
    </div>
    <div class="container">
        <a href="#" routerLink="/login" class="btn btn-success">Iniciar Sesión</a>
    </div>
</div>
<div id="scroll2"></div>