<div class="container">
    <div class="col s12 m7">
        <h2 class="header">¡Bienvenido!</h2>
        <div class="card horizontal">
            <div class="card-image">
                <img src="https://images.unsplash.com/photo-1568144628871-ccbb00fc297c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <div class="row">
                        <div class="col s6">
                            <img src="https://cdn.pixabay.com/photo/2020/07/01/12/58/icon-5359553_960_720.png" width="225px" height="225px">
                        </div>
                        <div class="col s6">
                            <h3>Alvin</h3>
                            <h4>Yakitory</h4>
                            <p>mail@gmail.com</p>
                            <p>cedula</p>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<div class="container">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Item Name</th>
                <th>Item Price</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Alvin</td>
                <td>Eclair</td>
                <td>$0.87</td>
            </tr>
        </tbody>
        <div class="card-action">
            <button class="btn waves-effect waves-light" type="submit" name="action">Editar</button>
        </div>
    </table>
</div>