

<div className="formulario">
    <label for="Cedula">Nombre del usuario : </label>
            
        <select [(ngModel)]="detalles.cedula" >
                <option *ngFor="let u of usuarioList"
                        [value]="u.cedula">
                        {{u.nombre}} {{u.apellido}}
                </option>
        </select><br>

        <label for="direccion">Direccion</label><br>
        <input type="text" placeholder="direccion" [(ngModel)]="detalles.direccion" required><br>

        <label for="correo">Correo</label><br>
        <input type="email" placeholder="correo" [(ngModel)]="detalles.correo"  required><br>

        <label for="contrasena">Contrasena</label><br>
        <input type="password" placeholder="Contrasena" [(ngModel)]="detalles.contrasena" required><br>

        <button type="submit" (click)="editUsuario()">Registrar</button>

</div>
