<h1>Regristro de nuevo usuario</h1>
<div className="formulario">
    <form class=""  (ngSubmit)="login()" #userForm="ngForm"> 
   
        <label for="correo">Correo</label><br>
        <input type="email" placeholder="correo" [(ngModel)]="dataUser.correo" [ngModelOptions]="{standalone: true}" required><br>

        <label for="contrasena">Contrasena</label><br>
        <input type="password" placeholder="Contrasena" [(ngModel)]="dataUser.contrasena" [ngModelOptions]="{standalone: true}" required><br>

        <button type="submit" [disabled]="!userForm.form.valid">LOGIN</button>
    </form>

</div>