<div class="container">
    <div class="header">
        <div class="container">
            <h1>Productos disponibles</h1>
        </div>
        <i class="material-icons">search</i><input class="label-icon" type="search" placeholder="Buscar " />
        <hr>
    </div>
</div>
<table class="striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">nombre</th>
            <th scope="col">nombre</th>
            <th scope="col">nombre</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
        </tr>
    </tbody>
</table>