<div class="container">
    <div class="header">
        <div class="container">
            <h1>Productos disponibles</h1>
        </div>
        <i class="material-icons">search</i><input class="label-icon" type="search" placeholder="Buscar " />
        <hr>
    </div>
</div>
<table class="striped">
    <thead>
        <tr>
            <th scope="col">Stock</th>
            <th scope="col">nombre</th>
            <th scope="col">Categoria</th>
            <th scope="col">Precio</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of prodList"> 
            <td>{{p.stock}}</td>
            <td>{{p.nombre}}</td>
            <td>{{p.nombre}}</td>
            <td>{{p.precioVenta}}</td>
        </tr>
    </tbody>
</table>