<div class="container">
    <div class="header">
        <div class="container">
            <h1>Productos disponibles</h1>
        </div>
        <i class="material-icons">search</i><input class="label-icon" type="search" placeholder="Buscar " />
        <hr>
    </div>
</div>
<table class="striped">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Categoría</th>
            <th scope="col">Precio de Venta</th>
            <th scope="col">Stock</th>
            <th scope="col">Marca</th>
            <th scope="col">Acción</th>
            <th scope="col">Cantidad</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row">aqui va nombre</td>
            <td scope="row">aqui categoria</td>
            <td scope="row">pre venta</td>
            <td scope="row">stock</td>
            <td scope="row">marca</td>
            <td></td>
            <td scope="row">
                <input placeholder="Cantidad" id="first_name" type="text" class="validate">
            </td>
        </tr>
    </tbody>
</table>