<div class="container">
    <h1>Valida tu cuenta</h1>
    <p>Para poder validar tu cuenta ingresa tu número de cédula y una contraseña.</p>
    <!--<div class="row">
        <div class="col s7 push-s5">
            <img class="responsive-img" src="https://cdn.pixabay.com/photo/2016/12/01/14/02/light-bulbs-1875384_1280.jpg" class="figure-img img-fluid rounded" />
        </div>-->
    <div class="col s5 pull-s7">
        <div class="formulario">
            <form class="login" (ngSubmit)="activarCuenta()" #userForm="ngForm">
                <i class="material-icons prefix">contact_mail</i>
                <label for="cedula">Cédula</label><br>
                <input type="text" placeholder="Cédula" [(ngModel)]="detalles.cedula" [ngModelOptions]="{standalone: true}" required><br>
                <i class="material-icons prefix">lock</i>
                <label for="contrasena">Contraseña</label><br>
                <input type="password" placeholder="Contraseña" [(ngModel)]="detalles.contrasena" [ngModelOptions]="{standalone: true}" required><br>
                <br>
                <button type="submit" [disabled]="!userForm.form.valid">Validar</button>
            </form>
        </div>
    </div>
</div>